body,
div,
a,
span,
ul,
li {
  margin: 0;
  padding: 0;
}
body div#wrapper {
  width: 960px;
  font-size: 16px;
  font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
}
body div#wrapper div.content {
  display: none;
}
body div#wrapper ul.notification-list {
  width: 550px;
}
body div#wrapper ul.notification-list > li {
  list-style-type: none;
  display: inline-block;
}
body div#wrapper ul.notification-list a {
  margin: 25px;
  width: 100%;
  display: inline-block;
  height: 30px;
  text-decoration: none;
  background: #ababab;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ababab 0%, #dddddd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ababab), color-stop(100%, #dddddd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ababab 0%, #dddddd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ababab 0%, #dddddd 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ababab 0%, #dddddd 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ababab 0%, #dddddd 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from-color', endColorstr='@to-color', GradientType=0);
  /* IE6-9 */
  border: 1px solid black;
}
body div#wrapper ul.notification-list a img {
  width: 15px;
  height: 15px;
}
body div#wrapper ul.notification-list a span {
  display: inline-block;
  color: #777;
  font-size: 1.2em;
  text-align: center;
}
